$field-height: 350px;

body {
  position: relative;
}

.veil {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.field__left {
  display: inline-block;
  width: 15%;
}

.field__middle {
  display: inline-block;
  width: 70%;
}

.field__right {
  display: inline-block;
  width: 15%;
}

.field__left, .field__middle, .field__right {
  vertical-align: top;
  height: $field-height;

  box-sizing: border-box;
  border: 1px solid black;
}

.field {
  height: $field-height;
  text-align: center;
}

.forwardZone {
  border-bottom: 1px solid black;
}

.forwardZone, .backupZone {
  height: $field-height / 2;
}

.card {
  display: inline-block;

  img {
    width: 100px;
  }
}

.card__active {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.handUpdate-enter {
  opacity: 0;
  transform: translateX(150%);
}

.handUpdate-enter.handUpdate-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 200ms ease-in;
}

.handUpdate-leave {
  opacity: 1;
  transform: translateY(0%);
}

.handUpdate-leave.handUpdate-leave-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 200ms ease-in;
}
