.field__left {
  display: inline-block;
  width: 15%;
}

.field__middle {
  display: inline-block;
  width: 70%;
}

.field__right {
  display: inline-block;
  width: 15%;
}

.field {
  text-align: center;
}

.card {
  width: 100px;
}
