$field-height: 350px;

body {
  position: relative;
}

.field__left {
  display: inline-block;
  width: 15%;
}

.field__middle {
  display: inline-block;
  width: 70%;
}

.field__right {
  display: inline-block;
  width: 15%;
}

.field {
  height: $field-height;
  text-align: center;
}

.card {
  display: inline-block;

  img {
    width: 100px;
  }
}

.card__active {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.handUpdate-enter {
  opacity: 0;
  transform: translateX(150%);
}

.handUpdate-enter.handUpdate-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 200ms ease-in;
}
